* {
    /*box-sizing: border-box;*/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body, div, a {
    padding: 4px;
    margin: 0;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 295px;
    height: 460px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 5px;
    align-items: flex-end;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 20px 10px 200px 8px #ccc;
}

#calculator a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

#numbers {
    display: inline-flex;
    flex-wrap: wrap;
    width: 287px;
    align-content: flex-end;
    border: 1px #666;
}

#operators {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    height: 65px;
}

#operators a {
    flex-direction: row;
    width: 51px;
    height: 50px;
    font-size: 39px;
    padding: 10px;
    background-color: #E0E0E0;
    border: 1px #666;
}

#numbers a {
    width: 50px;
    height: 50px;
    font-size: 32px;
    border: 1px solid black;
    background-color: rgb(220, 216, 217);
}

#total {
    height: 150px;
    width: 288px;
    background-color: rgba(215, 215, 215, 0.5);
    text-align: right;
    font-size: 56px;
    -webkit-box-shadow: inset 2px 7px 147px -56px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 2px 7px 147px -56px rgba(0, 0, 0, 0.55);
    box-shadow: inset 2px 7px 147px -56px rgba(0, 0, 0, 0.55);
}

#side {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

#side a {
    width: 50px;
    font-size: 44px;
    padding: 10px;
    background-color: #ea9649;
    color: #E0E0E0;
    border: 1px solid black;
}
