* {
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 16.5%;
    margin-top: 9%;
    margin-left: 40%;
    -webkit-box-shadow: 36px 39px 136px 2px rgba(166, 166, 166, 1);
    -moz-box-shadow: 36px 39px 136px 2px rgba(166, 166, 166, 1);
    box-shadow: 25px 30px 130px 2px rgba(166, 166, 166, 1);
}

p {
    background-color: #A0A0A0;
    height: 90%;
    width: 98%;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.calculator {
    height: 90px;
    width: 232px;
    padding: 0px 2px 0px 1px;
}

.row0, .row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    /*border: 1px solid #F0F0F0;*/
    background-color: #E0E0E0;
    justify-content: flex-end;
    align-items: flex-start;
}

.side {
    /*padding: 13px;*/
    font-size: 20px;
    text-align: center;
    /*border: 0.5px solid #A0A0A0;*/
    background-color: #ea9649;
    color: #E0E0E0;
    height: 58px;
}

.button {
    width: 13px;
    height: 13px;
    padding: 20.6px;
    border: 0.05px solid #A0A0A0;
}

.button2 {
    width: 72px;
    height: 20px;
    text-align: left;
    padding: 19px;
    border: 0.05px solid #A0A0A0;
}
