* {
    /*box-sizing: border-box;*/
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body, div, a {

}

/*#container {
  width: 500px;
  height: 500px;
}*/

#calculator {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    width: 315px;
    height: 460px;
    border-radius: 10px;
    margin: 100px auto;
    align-items: flex-end;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 20px 10px 200px 20px #ccc;
}

#calculator a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    /*color: rgb(0, 0, 0);*/
}

#numbers {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: nowrap;
    width: 300px;
}

#operators {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex-flow: column reverse wrap-reverse;
}

#operators a {
    flex-direction: row;
    width: 50px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    background-color: #E0E0E0;
    align-self: stretch;
    border: 1px solid #A0A0A0;
}

#numbers a {
    width: 30px;
    height: 30px;
    font-size: 25px;
    padding: 13px;
    text-align: center;
    border: 1px solid gray;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex-wrap: wrap;
    flex-basis: 1.65em;
}

#total {
    height: 100px;
    width: 288px;
    background-color: #A0A0A0;
    text-align: right;
    font-size: 56px;
    display: flex;
}

#side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#side a {
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 5px;
    background-color: #ea9649;
    color: #E0E0E0;
    border: 1px solid #A0A0A0;
}
